<script type="text/javascript">
    function is_read(id){
        $.getJSON('/mark_read/'+id, function(result){
            if (result['response'] == 'success'){
                document.getElementById("read_btn"+id).innerHTML = "<div class=" + "alert-success" +">Lu"+"<"+"/div>";
            }
        })
    }
    function change_button_info(){
        if (document.getElementById("button_add_feed").innerHTML == "Annuler")
            document.getElementById("button_add_feed").innerHTML = "Ajouter un flux";
        else
            document.getElementById("button_add_feed").innerHTML = "Annuler";
    }
    function add_feed(){
        var title = document.getElementById("feed_title").value;
        var url = document.getElementById("feed_url").value;
        $.post('/rss_feeds', {'title':title, 'url':url},function(result){
            var rss = result;
            var html ="<div class=" + "panel panel-default" + ">"
                    + "<div class=" + "panel-heading" + ">" +
                    "<" + "h3>"+ rss[0]['title']+ "</" + "h3>" +
                    "</" + "div>" +
                    "<div class="+ "panel-body>";

            for(var i = 0; i< rss[1].length; i++) {
                html = html + "<ul class=" + "list-group" + ">" +
                        "<li class=" + "list-group-item col-sm-12" + ">" +
                        "<div class=" + "row" + ">";
                html = html + rss[1][i]['summary'];
                html = html +"</" + "div>" + "<div id=" + "read_btn"+rss[1][i]['id'] + " class=" + "row" + "><a onclick=" + "is_read(" + rss[1][i]['id'] + ")" + ">Marquer comme lu" + "</" + "a>" + "</" + "div>" + "</" + "li>" + "</" + "ul>";
            }
            html = html + "</" + "div>" + " </" + "div>";
            document.getElementById('new_feed').innerHTML = html;
        });
    }

</script>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 collapse" id="demo">
    <div class="panel panel-default">
      <div class="panel-heading">Ajouter un flux</div>
      <div class="panel-body" id="form">
        Titre: <input class="form-control" type="text" placeholder="Titre du flux" name="flux_titre" id="feed_title">
        Url: <input class="form-control" type="text" placeholder="Ulr du flux" name="flux_url" id="feed_url" >
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4" id="new_feed"></div>

  <%@rss_feeds.each{ |rss|%>
      <div class="col-sm-4">
        <div class="panel panel-default ">
          <div class="panel-heading"><h3><%= rss.title%></h3></div>
          <div class="panel-body">
            <ul class="list-group">

              <%rss.rss_feed_items.each{ |r|%>
                  <li class="list-group-item col-sm-12"> <div class="row"><%= raw r.summary %></div>
                    <%if r.read%>
                        <div class="alert-success">Lu</div>
                    <%else%>
                        <div id="read_btn<%=r.id%>" class="row"><a onclick="is_read(<%= r.id%>)">Marquer comme lu</a></div>
                    <%end%>
                  </li>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
  <%}%>
</div>