<script type="text/javascript">
    function is_read(id){
        $.getJSON('/mark_read/'+id, function(result){
            if (result['response'] == 'success'){
                document.getElementById("read_btn").innerHTML = "<div class=" + "alert-success" +">Lu"+"<"+"/div>";
            }
        })
    }
        function add_feed(){
            var title = document.getElementById("feed_title").value;
            var url = document.getElementById("feed_url").value;
            $.post('/rss_feeds', {'title':title, 'url':url},function(result){
                alert(result)
            });
        }

</script>

<div id="demo" class="collapse">
  Titre: <input class="form-control" type="text" placeholder="Titre du flux" name="flux_titre" id="feed_title">
  Url: <input class="form-control" type="text" placeholder="Ulr du flux" name="flux_url" id="feed_url" >
  <button class="btn btn-primary" onclick="add_feed()">Ajouter</button>
</div>
<%@rss_feeds.each{ |rss|%>
    <div class="col-sm-4">
      <div class="panel panel-default ">
        <div class="panel-heading"><h3><%= rss.title%></h3></div>
        <div class="panel-body">
          <ul class="list-group">

            <%rss.rss_feed_items.each{ |r|%>
                <li class="list-group-item col-sm-12"> <div class="row"><%= raw r.summary %></div>
                  <%if r.read%>
                      <div class="alert-success">Lu</div>
                  <%else%>
                      <div id="read_btn" class="row"><a onclick="is_read(<%= r.id%>)">Marquer comme lu</a></div>
                  <%end%>
                </li>
            <%}%>
          </ul>
        </div>
      </div>
    </div>
<%}%>