<script type="text/javascript">
    function is_read(id){
        $.getJSON('/mark_read/'+id, function(result){
            if (result['response'] == 'success'){
                document.getElementById("read_btn"+id).innerHTML = "<div class=" + "alert-success" +">Lu"+"<"+"/div>";
            }
        })
    }
    function change_button_info(){
        if (document.getElementById("button_add_feed").innerHTML == "Annuler")
            document.getElementById("button_add_feed").innerHTML = "Ajouter un flux";
        else
            document.getElementById("button_add_feed").innerHTML = "Annuler";
    }
    function add_feed(){
        var title = document.getElementById("feed_title").value;
        var url = document.getElementById("feed_url").value;
        $.post('/rss_feeds', {'title':title, 'url':url},function(result){
            var rss = result;
            var new_head ="<" + "h3>"+ rss[0]['title']+ "</" + "h3>";
            var new_list = "";
            for(var i = 0; i< rss[1].length; i++) {
                new_list = "<li class=" + "list-group-item col-sm-12" + ">" + "<div class=" + "row" + ">";
                new_list = new_list + rss[1][i]['summary'];
                new_list = new_list +"</" + "div>" + "<div id=" + "read_btn"+rss[1][i]['id'] + " class=" + "row" + "><a onclick=" + "is_read(" + rss[1][i]['id'] + ")" + ">Marquer comme lu" + "</" + "a>" + "</" + "div>" + "</" + "li>";
            }
            document.getElementById('new_feed_item_list').innerHTML = new_list;
            document.getElementById('new_feed_head').innerHTML = new_head;
            document.getElementById('new_feed').style.display = 'initial';
        });
    }

</script>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 collapse" id="demo">
    <div class="panel panel-default">
      <div class="panel-heading">Ajouter un flux</div>
      <div class="panel-body" id="form">
        <div class="form-group">
          <div class="col-sm-2 control-label form-control-static">Titre:</div>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Titre du flux" name="flux_titre" id="feed_title">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label form-control-static">Url:</div>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Ulr du flux" name="flux_url" id="feed_url" >
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <button class="btn btn-primary" onclick="add_feed()">Valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 new_panel_hidden" id="new_feed">
    <div class="panel panel-default ">
      <div class="panel-heading" id="new_feed_head"></div>
      <div class="panel-body feed_panel">
        <ul class="list-group" id="new_feed_item_list">

        </ul>
      </div>
    </div>
  </div>

  <%@rss_feeds.each{ |rss|%>
      <div class="col-sm-4">
        <div class="panel panel-default ">
          <div class="panel-heading"><h3><%= rss.title%></h3></div>
          <div class="panel-body feed_panel">
            <ul class="list-group">
              <%if rss.rss_feed_items.size > 0 %>
                  <%rss.rss_feed_items.each{ |r|%>
                      <li class="list-group-item col-sm-12"> <div class="row"><%= raw r.summary %></div>
                        <%if r.read%>
                            <div class="alert-success">Lu</div>
                        <%else%>
                            <div id="read_btn<%=r.id%>" class="row"><a onclick="is_read(<%= r.id%>)">Marquer comme lu</a></div>
                        <%end%>
                      </li>
                  <%}%>
              <%else%>
                  <div class="alert-info">Aucun post publié dans ce flux</div>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
  <%}%>
</div>